@font-face {
	font-family: 'Inter Display Regular';
	src: url('/Inter-DisplayRegular.woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter Display Medium';
	src: url('/Inter-DisplayMedium.woff2');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

:root {
	--font-body: Inter Display Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		sans-serif;
	--color-text: rgba(49, 49, 49, 1);
	font-family: var(--font-body);
	color: var(--color-text);
}
